<%= form_for current_user, :url => url_for(:controller => 'relationships', :action => 'create'), :html => {:method => :post} do |f| %>
  <div><%= hidden_field_tag :actor_id, @actor.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary btn-block" %>
<% end %>
