<div class="col-md-12">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>ID</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <% @videos.each do |video| %>
        <tr>
          <td>#</td>
          <td><%= link_to(video.video_id, video_path(video)) %></td>
          <td><%= format_video_name(video.video_name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
