<div class="jumbotron">
  <h1>Avdict</h1>
  <p>The platform for JAV addicts. Elegant way to explore the av and share your thoughts.</p>
  <br><br>
  <p><a class="btn btn-primary btn-lg" url="https://github.com/syhsyh9696/javlibrary-rails">Project here</a></p>
</div>
