<footer class="center_">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-inline">
        <li><a href="http://syhdaily.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
        <li><a href="http://feeds.feedburner.com/">RSS</a></li>
        <li><a href="https://twitter.com/syhsyh9696">Twitter</a></li>
        <li><a href="https://github.com/syhsyh9696/javlibrary-rails/">GitHub</a></li>
      </ul>
      <p>Made by <a href="http://syhdaily.com" rel="nofollow">syhsyh9696</a>. Contact me at telegram <a href="https://telegram.me/syhsyh9696">@syhsyh9696</a>.</p>
      <p>Code released under the <a href="https://github.com/syhsyh9696/javlibrary-rails/blob/master/LICENSE">MIT License</a>.</p>
      <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

    </div>
  </div>

</footer>
